:root {
  --color-tone-50: #f3f7fb;
  --color-tone-100: #e3ecf6;
  --color-tone-200: #cddff0;
  --color-tone-300: #aacae6;
  --color-tone-400: #82afd8;
  --color-tone-500: #6493cd;
  --color-tone-600: #4f7abf;
  --color-tone-700: #4669af;
  --color-tone-800: #3e578f;
  --color-tone-900: #364972;
  --color-tone-950: #242e47;
  
  --color-black: #222;
  --color-white: #fff;
}


